Hi <%= @parameters[:receiver_name] %>,<br>
<%= @parameters[:sent_by] %> has sent you invite request for accessing Amahi HDA using latest friending feature of Amahi 12. Please click on one of the below given links to respond.<br><br>
Pin for login: <%= @parameters[:pin] %><br>
Click here to accept invitation: <a href="http://localhost:5000/frnd/request/accept?invite_token=<%= @parameters[:invite_token] %>&type=1" target="_blank">Accept</a><br>
Click here to reject invitation: <a href="http://localhost:5000/frnd/request/accept?invite_token=<%= @parameters[:invite_token] %>&type=0" target="_blank">Reject</a><br><br>

Thanks and Regards,<br>
Amahi Team<br>
<br>
